.loginBody {
  width: 100%;
  height: 100%;
  background-image: url(~@/static/login-bg.png);
  background-size: cover;
}
.loginPages {
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
}
#captchaStyle {
  width: 340px;
  display: flex;
  margin-bottom: 30px;
}
.codeImage {
  &.loading {
    position: relative;
    &:after {
      content: 'loading...';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      text-align: center;
      line-height: 60px;
      color: #fff;
    }
  }
}
