.btnML {
  margin-right: 20px;
}
.open {
  color: #02a1e9;
  background-color: rgba(2, 161, 233, 0.1);
  border: 1px solid rgba(2, 161, 233, 0.2);
}

.close {
  background-color: rgba(245, 108, 108, 0.1);
  border-color: rgba(245, 108, 108, 0.2);
  color: #f56c6c;
}
