.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.orderinfor {
  padding: 10px;
  height: 40px;
  border: solid #dddee1 1px;
}
.main {
  flex: 1;
  display: flex;
}
.main > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid #dddee1 1px;
  border-right: solid #dddee1 1px;
  &:nth-child(1) {
    flex: 4;
    width: 100%;
    height: 100%;
    border-left: solid #dddee1 1px;
    span {
      width: 100%;
      height: 100%;
      padding: 20px;
      overflow: hidden;
    }
  }
  &:nth-child(5) {
    border-bottom: solid #dddee1 1px;
    border-right: solid #dddee1 1px;
  }
}
.remarks {
  padding: 0 20px;
  height: 50px;
  min-height: 50px;
  background: #e8f7f6;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #dddee1;
  border-left: solid 1px #dddee1;
  border-right: solid 1px #dddee1;
}
.th {
  display: flex;
  height: 45px;
  background: #f8f8f9;
  border-top: solid 1px #dddee1;
  border-left: solid 1px #dddee1;
  border-right: solid 1px #dddee1;
  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    &:nth-child(1) {
      flex: 3;
      span {
        width: 100%;
        height: 100%;
      }
    }
  }
}
#pic {
  height: 100px;
  width: 100px;
}
.pic_box {
  flex: 1;
  display: flex;
  .pic_box_r {
    flex: 1;
    padding: 0 15px;
    & > div:nth-child(1) {
      margin-bottom: 40px;
    }
    & > div:nth-child(2) {
      color: #495060;
    }
  }
}
.price1 {
  width: 60px;
  height: 100%;
  text-align: right;
}
#productTotalAmount {
  flex-direction: column;
  & > div:nth-child(1) {
    color: #cc0000;
  }
}
#shangpin-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#shangpin {
  width: 100%;
  height: 100%;
}
