.title {
  background: rgb(121, 242, 157);
}
.shopNotice {
  width: 100%;
  height: 100%;
}
@media (min-width: 1165px) {
  .shopNotice {
    width: 1165px;
  }
}
@media (min-width: 1300px) {
  .shopNotice {
    width: 1300px;
  }
}
@media (min-width: 1577px) {
  .shopNotice {
    width: 1577px;
  }
}
.noticeBody {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 15px;
}
@media (min-height: 898px) {
  .noticeBody {
    height: 898px;
  }
}
.editBtn {
  background-color: #02a1e9 !important;
  border: #02a1e9;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 3px;
}
.delBtn {
  background-color: #f56c6c;
  border: #f56c6c;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}
.myToolbar {
  :global(.ant-pro-table-list-toolbar-setting-items
      .ant-space-item:not(:nth-child(1))) {
    display: none;
  }
}
