.title {
  background: rgb(121, 242, 157);
}
.grouppage {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #303133;
}
.main {
  margin: 20px auto;
  width: 97%;
  flex: 1;
  background: #fff;
  padding: 20px;
  .btn1 {
    background: #02a1e9;
    border: none;
    margin: 0 10px;
    // padding: 9px 15px;
  }
  .btn2 {
    border: none;
    background: #f56c6c;
    // padding: 9px 15px;
  }
}

.shopNotice {
  width: 100%;
  height: 100%;
}
@media (min-width: 1165px) {
  .shopNotice {
    width: 1165px;
  }
}
@media (min-width: 1300px) {
  .shopNotice {
    width: 1300px;
  }
}
@media (min-width: 1577px) {
  .shopNotice {
    width: 1577px;
  }
}
.noticeBody {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 15px;
}
@media (min-height: 898px) {
  .noticeBody {
    height: 898px;
  }
}

.editBtn {
  background-color: #02a1e9 !important;
  border: #02a1e9;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  padding: 4px 20px;
  border-radius: 3px;
}
.delBtn {
  background-color: #f56c6c;
  border: #f56c6c;
  color: #fff;
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 3px;
}
