.TreeItems{
    display: flex;
    width: 70vw;
    justify-content: space-between;
}
.TreeInput{
    width: 300px;
}
.TreeTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.subTit {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.Forms{
    margin-right: 40px;
}
